body{
    padding-top: 56px;
}

.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.ani {
    visibility: visible;
    opacity: 1;
}

.dark {
    background-color: #000000;
    color: #ffffff;
}

.light {
    background-color: #ffffff;
    color: #000000;
}


.slide-container {
    width: 300vw;
    transition: all 1s;
    transform: translateX(-0px);
} 
  

.slide-box {
    width: 500px;
    float: left;
}

.slide-box img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.slideBox{
    width: 500px;
    display: block;
    margin: 0 auto;
}

.btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBox > button{
    width: 50px;
    height: 50px;
}

.navbar {
    position : fixed !important;
    width : 100%;
    z-index : 5;
    top: 0;
  }
.navbar-brand {
    font-size : 30px !important;
    transition : all 1s;
}

.list-group{
    position : fixed !important;
    top: 71px;
    width : 100%;
    z-index : 5
}

.login__btn__bg{
    width: 100%;
    height: 300px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

button{
    border: 1px solid red;
}